In [1]:
import pandas as pd

In [12]:
wine = pd.read_csv('/home/cairo/Downloads/wine/winequality-red.csv', sep=';')
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [14]:
wine.shape

(1599, 12)

In [15]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [16]:
wine['residual sugar'].isnull().mean()

0.0

In [17]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [18]:
wine['residual sugar'].median()

2.2

In [19]:
wine.corr()['fixed acidity']

fixed acidity           1.000000
volatile acidity       -0.256131
citric acid             0.671703
residual sugar          0.114777
chlorides               0.093705
free sulfur dioxide    -0.153794
total sulfur dioxide   -0.113181
density                 0.668047
pH                     -0.682978
sulphates               0.183006
alcohol                -0.061668
quality                 0.124052
Name: fixed acidity, dtype: float64

In [20]:
wine.corr()['quality']

fixed acidity           0.124052
volatile acidity       -0.390558
citric acid             0.226373
residual sugar          0.013732
chlorides              -0.128907
free sulfur dioxide    -0.050656
total sulfur dioxide   -0.185100
density                -0.174919
pH                     -0.057731
sulphates               0.251397
alcohol                 0.476166
quality                 1.000000
Name: quality, dtype: float64

In [24]:
wine[wine.quality==5].count()

fixed acidity           681
volatile acidity        681
citric acid             681
residual sugar          681
chlorides               681
free sulfur dioxide     681
total sulfur dioxide    681
density                 681
pH                      681
sulphates               681
alcohol                 681
quality                 681
dtype: int64

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler


X = wine.drop('quality', axis=1)
col = X.columns
Y = wine['quality']

ss = MinMaxScaler()
X = pd.DataFrame(ss.fit_transform(X), columns=col)

X_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

In [30]:
X['fixed acidity'].min()

0.0

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

clf_KNN = KNeighborsClassifier(n_neighbors=5)
clf_arvore = DecisionTreeClassifier(random_state=1)
clf_floresta = RandomForestClassifier(max_depth=10, random_state=1)
clf_svm=SVC(gamma='auto',kernel='rbf')
clf_mlp = MLPClassifier( alpha=1e5, hidden_layer_sizes=(5, 5), random_state=1)

In [35]:
from sklearn.metrics import accuracy_score

clf_KNN.fit(X_train, y_train)
pred = clf_KNN.predict(x_test)
accuracy_score(y_test, pred)

0.5479166666666667

In [39]:
clf_arvore.fit(X_train, y_train)
pred = clf_arvore.predict(x_test)
accuracy_score(y_test, pred)

0.6104166666666667

In [40]:
clf_floresta.fit(X_train, y_train)
pred = clf_floresta.predict(x_test)
accuracy_score(y_test, pred)

0.6791666666666667

In [41]:
clf_svm.fit(X_train, y_train)
pred = clf_svm.predict(x_test)
accuracy_score(y_test, pred)

0.55625

In [42]:
clf_mlp.fit(X_train, y_train)
pred = clf_mlp.predict(x_test)
accuracy_score(y_test, pred)

/home/cairo/anaconda3/envs/ann/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:568: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

0.3875

In [43]:
Y = Y.replace({6:1, 7:1, 8:1, 5:0, 4:0, 3:0})

X_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3)

In [44]:
clf_floresta.fit(X_train, y_train)
pred = clf_floresta.predict(x_test)
accuracy_score(y_test, pred)

0.8